{% extends 'base.html' %}

{% load staticfiles %}


{% block cssfiles %}
<!--<link rel="stylesheet" href="{% static "css/bootstrap-table.css" %}" type="text/css" />-->
<link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css" />
{% endblock %}

{% block jsfiles %}
<script type="text/javascript" src="{% static "js/Object.observe.poly.js" %}" charset="utf-8"></script>
<script type="text/coffeescript" src="{% static "coffee/index.coffee" %}" charset="utf-8"></script>
{% endblock %}

{% block contents %}
<div class="row row-fluid">
    <div class="col-xs-12 col-md-10">
        <div id="lectures_wrapper">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#lecture_search_tab" role="tab" data-toggle="tab">강의 검색</a></li>
                <li><a href="#lecture_selected_tab" role="tab" data-toggle="tab">넣은 강의</a></li>
                <li class="pull-right"><a href="#" id="current_credit">강의 0 개 / 0 학점</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="lecture_search_tab">
                    <table id="lectures" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>학수번호</th>
                                <th>분반</th>
                                <th>이수구분</th>
                                <th>교과목명</th>
                                <th>담당교수</th>
                                <th>학점 (시간)</th>
                                <th>강의시간</th>
                                <th>강의실</th>
                                <th>영강</th>
                                <th>상대평가</th>
                                <th>인원제한</th>
                                <th>대기</th>
                                <th>교환학생</th>
                                <th>기타</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="lecture_selected_tab">
                    <table id="lectures_selected" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>학수번호</th>
                                <th>분반</th>
                                <th>이수구분</th>
                                <th>교과목명</th>
                                <th>담당교수</th>
                                <th>학점 (시간)</th>
                                <th>강의시간</th>
                                <th>강의실</th>
                                <th>영강</th>
                                <th>상대평가</th>
                                <th>인원제한</th>
                                <th>대기</th>
                                <th>교환학생</th>
                                <th>기타</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <ul id="category" class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#lecture_major" role="tab" data-toggle="tab" id="tab_major">전공</a></li>
            <li><a href="#lecture_etc" role="tab" data-toggle="tab" id="tab_etc">교양</a></li>
            <!--<li><a href="#lecture_graduated" role="tab" data-toggle="tab" id="tab_graduated">대학원</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="lecture_major">
                <form role="form" style="margin-top:15px;">
                    <div class="form-group">
                        <select id="cols_major" class="form-control">
                            <optgroup label="안암">
                            {% for col in cols_major_anam %}
                                {% ifequal forloop.counter0 0 %}
                                <option value="{{ col.number }}" selected>{{ col.name }}</option>
                                {% else %}
                                <option value="{{ col.number }}">{{ col.name }}</option>
                                {% endifequal %}
                            {% endfor %}
                            </optgroup>
                            <optgroup label="세종">
                            {% for col in cols_major_sejong %}
                                <option value="{{ col.number }}">{{ col.name }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="depts_major" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="lecture_etc">
                <form role="form" style="margin-top:15px;">
                    <div class="form-group">
                        <select id="cols_etc" class="form-control">
                            <optgroup label="안암">
                            {% for col in cols_etc_anam %}
                                {% ifequal forloop.counter0 0 %}
                                <option value="{{ col.number }}" selected>{{ col.name }}</option>
                                {% else %}
                                <option value="{{ col.number }}">{{ col.name }}</option>
                                {% endifequal %}
                            {% endfor %}
                            </optgroup>
                            <optgroup label="세종">
                            {% for col in cols_etc_sejong %}
                                <option value="{{ col.number }}">{{ col.name }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="depts_etc" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="lecture_graduated">
                <form role="form" style="margin-top:15px;">
                    <div class="form-group">
                        <select id="cols_graduated" class="form-control">
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <input type="text" placeholder="검색" id="search_input" class="form-control" />
    </div>
</div>
<div class="row row-fluid">
    <div class="col-xs-12 col-md-12">
        <div id="timetable"></div>
        <table id="timetable_table" class="table table-bordered">
            <tr>
            {% for d in " 월화수목금토" %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
            {% for i in timetable_range %}
            <tr>
                <td class="col-md-1 time">{{ i }} 교시</td>
                {% for d in "012345" %}
                <td data-pos="{{d}}-{{i}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
